.projects-container-main {    
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    background-image: linear-gradient(to bottom, #000000, #000000, #00000041);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;   
}

.project-header{
    color: white;
}

.tabs-buttons .col1{
    flex-direction: row;
    background-color: #2a284320;
    color:white;
    width: 20vw;
    height: 5vh;
    border-radius: 5px;
    border-style: none;
    transition: background-color .3s ease-out 100ms;
    margin-bottom: 5vh;
}


.tabs-buttons .col1:hover {
    animation-duration: .5s;
    background-color: #5a607f8b;
}

.row1, .row2, .row3 {
    display: flex;
    flex-direction: row;
}

.project-cell{
    display: flex;
    flex-direction: column;
    align-items: center;
}

td {
    color: white;
    width: 40vw;
    height:45vh;
    border:1px solid #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.project-icon{
    width: 35vw;
    height:30vh;
}

button{
    opacity: 0.7;
    transition: opacity 0.3s
}
button:hover{
    opacity: 1;
}

.modal {
    width: 90vw;
    height: 57.5vh;
}

.project-icon-modal {
    position: relative;
    width: 50vw;
    height:47.5vh;
}

@media screen and (max-width: 480px) {
    .row1, .row2, .row3 {
        display: flex;
        flex-direction: column;
    }
}
