.App {
  background: rgb(2,0,31);
background: linear-gradient(351deg, rgba(2,0,31,1) 0%, rgba(12,10,41,1) 1%, rgba(9,7,38,1) 2%, rgba(97,97,124,1) 14%, rgba(177,143,128,1) 56%, rgba(238,197,213,1) 100%);
  width: 100%;
  position:absolute;
}