.main-container{
  display:flex;
  flex-direction: row;
  margin: 20px;
  justify-content: space-around;
}

.header {
    background-image: linear-gradient(to bottom, #000000, #000000, #00000041);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    height: 200px;
    width: 50vw;
    justify-content: left;
    margin-top: 20px;
    margin-left: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.755);
  }
  
  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 10px;
  }
  
  .header-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .header-subtitle {
    font-size: 20px;
    opacity: 0.8;
  }

  .header::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(20px);
  }

  .main-container img {
    flex-direction: row;
    border-radius: 90px;
    margin: 50px;
    width: 20vh;
    height: 25vh;
  }
  
  @media screen and (max-width: 768px) {
    .header {
      height: 150px;
      padding: 10px;
    }
  
    .header-title {
      font-size: 24px;
      margin-bottom: 5px;
    }
  
    .header-subtitle {
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .main-container {
      display: flex;
      flex-direction: column;
    }
    
    .header {
      height: 120px;
      padding: 10px;
    }
  
    .header-title {
      font-size: 12px;
      margin-bottom: 5px;
    }
  
    .header-subtitle {
      font-size: 8px;
    }

    .main-container img {
      display: flex;
      flex-direction: column;
    }
  }

  