.skills-carousel {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 90vh;
  }
  
  .carousel-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .scroll-button .left{ 
    height: 15vh; 
    position: fixed ;  
  }

  .carousel-container::-webkit-scrollbar {
    display: none;
  }
  
  .skill-container {
    flex: 0 0 auto;
    width: 200px;
    margin-right: 20px;
    text-align: center;
    opacity: 0.7;
    transition: opacity 0.3s;
  }
  
  .skill-container:hover {
    opacity: 1;
  }
  
  .skill-container img {
    width: 14vh;
    height: 14vh;
    object-fit: contain;
  }
  
  .skill-container p {
    color: white;
    margin-top: 10px;
    font-size: 14px;
  }